/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}
.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}
/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_editor::before {
  content: "____________";
}
.menu_setting::before {
  content: "____________";
}
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
body::-webkit-scrollbar{
  display: none;
}
.btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:white;
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
}
.delete-btn{
  width: 100%;
  border-radius: 5px;
  padding:10px 30px;
  color:white;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}
.btn{
  background-color:blue;
}

.btn:hover{
  background-color: darkblue;
}
.delete-btn{
  background-color: red;
}

.delete-btn:hover{
  background-color: darkred;
}
.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
}
.container .profile{
  padding:20px;
  background-color: white;
  box-shadow: yellow;
  text-align: center;
  width: 400px;
  border-radius: 5px;
}

.container .profile img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
}

.container .profile h3{
  margin:5px 0;
  font-size: 20px;
  color:black;
}
#section0{
  background-image: url("../images/main_background.png");
  background-size: cover;
  background-position: center;
}
#section1{
  background-image: url("../images/main_background.png");
  background-size: cover;
  background-position: center;
}
#section2{
  background-image: url("../images/main_background.png");
  background-size: cover;
  background-position: center;
}
#section3{
  background-image: url("../images/main_background.png");
  background-size: cover;
  background-position: center;
}
#section4{
  background-image: url("../images/main_background.png");
  background-size: cover;
  background-position: center;
}

.update-profile{
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  height: fit-content;
}

.update-profile form{
  padding:20px;
  background-color: white;
  text-align: center;
  height: fit-content;
  width: 700px;
  text-align: center;
  border-radius: 5px;
  margin-top: 100px;
}

.update-profile form img{
  height: 200px;
  width: 200p;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
}

.update-profile form .flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap:15px;
}

.update-profile form .flex .inputBox{
  width: 49%;
}

.update-profile form .flex .inputBox span{
  text-align: left;
  display: block;
  margin-top: 15px;
  font-size: 17px;
  color:black;
}

.update-profile form .flex .inputBox .box{
  width: 100%;
  border-radius: 5px;
  background-color: rgba(180, 180, 235, 0.308);
  padding:12px 14px;
  font-size: 17px;
  color:black;
  margin-top: 10px;
}
.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .con{
  background-color: white;
  align-items: center;
}
.add-btn-container {
  text-align: left;
  margin-bottom: 20px;
}

.add-btn {
  background-color: #fffd7d;
  color: rgb(0, 0, 0);
  border: color(from color srgb r g b);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #45a049;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 4px;
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  margin-top: 20px;
}

.modal form label {
  display: block;
  margin-bottom: 8px;
}

.modal form input[type="text"],
.modal form input[type="number"],
.modal form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.modal form input[type="submit"]:hover {
  background-color: #45a049;
}

.modal form button[type="button"] {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.modal form button[type="button"]:hover {
  background-color: #d32f2f;
}
.edit-form-container{
  position: fixed;
  top:0; left:0;
  z-index: 1100;
  background-color: #018367;
  padding:2rem;
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.edit-form-container form{
  width: 50rem;
  border-radius: .5rem;
  background-color: white;
  text-align: center;
  padding:2rem;
}

.edit-form-container form .box{
  width: 100%;
  background-color: rgba(163, 163, 247, 0.37);
  border-radius: .5rem;
  margin:1rem 0;
  font-size: 1.7rem;
  color:black;
  padding:1.2rem 1.4rem;
  text-transform: none;
}
.btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: #390183;
   color:white;
   font-size: 1.7rem;
   padding:1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}
.btn:hover{
   background-color: #018367;
}
.add-product-form{
  max-width: 50rem;
  background-color: #eee;
  border-radius: .5rem;
  padding:2rem;
  margin:0 auto;
  margin-top: 2rem;
}

.add-product-form h3{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color:#333;
  text-transform: uppercase;
  text-align: center;
}

.add-product-form .box{
  text-transform: none;
  padding:1.2rem 1.4rem;
  font-size: 1.7rem;
  color:#333;
  border-radius: .5rem;
  background-color: #fff;
  margin:1rem 0;
  width: 100%;
}
.alert2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.option-btn{
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}
.delete2-btn {
  background-color: #da444c;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #4CAF50;
  color: white;
}


@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}